<div class="form-group flex-grow d-flex a-i-center">
  <label for="scale" translate>Event Bar Scale</label>
  <c8y-range class="m-l-16" style="flex: 1 1 auto" [ngModel]="config.barScale">
    <ng-template #c8yRangeValue>
      <span>{{ config.barScale }}% </span>
    </ng-template>
    <input
      id="scale"
      name="scale"
      type="range"
      min="0"
      max="100"
      steps="1"
      [(ngModel)]="config.barScale"
    />
  </c8y-range>
</div>

<div class="form-group">
  <label class="c8y-switch">
    <input
      type="checkbox"
      name="splitlines"
      [(ngModel)]="config.splitLines"
    />
    <span></span>
    {{ 'Show Split Lines' | translate }}
  </label>
</div>

<hr>

<div class="d-flex a-i-end">
  <div class="form-group flex-grow">
    <label for="event-status-label" translate>Label</label>
    <input
      id="event-status-label"
      type="text"
      class="form-control"
      [(ngModel)]="config.label"
      name="label"
      placeholder="e.g. Product A"
    />
  </div>

  <div class="form-group m-l-16">
    <label for="event-status-color" translate>Color</label>
    <input
      id="event-status-color"
      type="color"
      class="form-control form-control-color"
      [(ngModel)]="config.color"
    />
  </div>
</div>


<div class="form-group">
  <label for="event-status-start" translate>Start Event Type</label>
  <input
    id="event-status-start"
    type="text"
    class="form-control"
    [(ngModel)]="config.start"
    placeholder="e.g. cycle-start"
  />
</div>

<div class="form-group">
  <label for="event-status-end" translate>End Event Type</label>
  <input
    id="event-status-end"
    type="text"
    class="form-control"
    [(ngModel)]="config.end"
    placeholder="e.g. cycle-end"
  />
</div>

<!-- preview -->
<ng-template #preview>
  <c8y-event-status [config]="config" [isInPreviewMode]="true"></c8y-event-status>
</ng-template>
